
<u><b><center><p>You are admin</p></center></b></u>

{% if request.user.is_authenticated %}

<form method="POST" > <!-- style="float: right;"-->
{% csrf_token %}
<select name="chuser">
<option value="">---------</option>
{% for usr in Users %}
<option value="{{ usr.id }}">{{ usr.first_name }}  {{ usr.last_name }}</option>
{% endfor %}
</select>
<button type="submit">Wybierz</button>
</form>


{% endif %}












<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script><script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>



